*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: auto;
    background-color: #FBF0F5;
    position: relative;
    display: flex;
   
    justify-content: center;  
    align-items: center;  
    height: 100vh;  
    
    
   
}
/* .line {
    position: relative; 
    height: 20px; 
    width: 800px;
    background-color: transparent; 
}

#line1, #line2 {
    height: 20px;
    width: 100%;
    background-color: #DE597A;
    border-radius: 10px;
}

#line2 {
    position: absolute;
    top: 100px; 
}
#line1{
    position: absolute;
    top:-100px;


}

.lineV{
   
    position: relative; 
    height: 800px; 
    width: 20px;
    background-color: transparent; 
    
}
#line3, #line4 {
    height: 600px;
    width: 20px;
    background-color: #DE597A;
    border-radius: 10px;
}
#line3 {
    position: absolute;
    left: -250px; 
    top:100px;
}
#line4{
    position: absolute;
    left:-550px;
    top:100px;


} */

/* .cells{
    width: 150px;
    height:150px;
    color: #DE597A;
    border: 5px solid;
    
} */
.container1{
    display: grid;
    grid-template-columns: repeat(3,auto);
    width:450px;
    margin:auto;
}
#cell1{
    border-top: none;
    border-left:none;
}
#cell2{
    border-top: none;
}
#cell3{
    border-top: none;
    border-right: none;
}
#cell4{
    border-left: none;
}
#cell6{
    border-right: none;
}
#cell7{
    border-bottom: none;
    border-left: none;
}
#cell8{
    border-bottom: none;
}
#cell9{
    border-bottom: none;
    border-right: none;
}
#restart{
    background: #DE597A;
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 24px;
    color: #FBF0F5;
    
    border: none; 
    cursor: pointer;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 50%;
    position: absolute;
    left:100px;
    bottom:300px;

}
#menu{

    background: #DE597A;
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 24px;
    color: #FBF0F5;
    
    border: none; 
    cursor: pointer;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 50%;
    position: absolute;
    left:100px;
    bottom:150px;
}
#menu:hover{
    background: #dd6c9d;
}
#restart:hover{
    background: #dd6c9d;
}

h1{
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 24px;
    color: #DE597A;
    position: absolute;
    top:50px;
    left:690px;

}
.cells{
    width: 150px;
    height: 150px;
    color: #DE597A;
    border: 5px solid;
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 128px;
    color: #DE597A;

    /* Centering with Flexbox */
    display: flex;
    justify-content: center; /* Horizontal alignment */
    align-items: center;    /* Vertical alignment */

    position: relative;
}
#popupt{
    position: relative;
    top: -50px;
    z-index: 1010;
    

}
#popup {
    display: none; 
    background: rgb(251, 240, 245,0.1);
    text-align: center;
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 52px;
    border-radius: 20px;
    color:rgb(99, 166, 166);
    padding: 150px;
    border: 5px solid #ffffff1a;
    box-shadow: 0 4px 30px rgba(222, 89, 122, 0.5);
    backdrop-filter: blur(30px);
    
    position: fixed;
    top: 22%;
    left: 420px;
   
    z-index: 1010;
}
#close{
    background:none;
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 24px;
    color:rgb(99, 166, 166);
    border: none;
    cursor: pointer;
    position:absolute;
    left:330px;
    top: 200px

}
#close:hover{
 color:rgba(86, 145, 145, 0.5);

}

/* @keyframes floating{
    0% { transform: translateY(0); }
    12.5% { transform: translateY(-1px); }
    25% { transform: translateY(-3px); }
    37.5% { transform: translateY(-4px); }
    50% { transform: translateY(-5px); }
    62.5% { transform: translateY(-4px); }
    75% { transform: translateY(-3px); }
    87.5% { transform: translateY(-1px); }
    100% { transform: translateY(0); }
}


.cherry{
    width: 300px; 
    height: auto;
    animation-name: floating;
    animation-duration: 5s;
    animation-direction: reverse;
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out; 
}
#cherry1{
    position: absolute;
    left: 10px;
    top:150px;
}
#cherry3{
    position: absolute;
    left: 950px;
    top:100px;

} */